<%- include('../layouts/boilerplate') %>

<div class="d-flex justify-content-center align-items-start vh-100">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center">
          <h1 class="display-3">Register!</h1>
        </div>
        <form action="/register" class="p-4 border rounded shadow validated-form bg-white" method="POST" novalidate>
          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" required>
            <div class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-success btn-lg w-100">Register</button>
        </form>
        <div class="mt-2 text-center">
          <p>Existing User? <a href="/login" class="btn btn-warning btn-sm">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../layouts/validated-form') %>
