<%- include('layouts/boilerplate') %>
<%- include('./partials/navbar') %>

<style>
   .custom-btn4 {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%)!important;
    color: white !important;
    border-radius: 20px; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}
</style>


<div class="d-flex justify-content-center">
    <div class="col-lg-6">
      <div class="container mt-4">
        <h1 class="mb-4">New Entry:</h1>
        <form action="" method="POST" class="p-3 border rounded shadow validated-form" novalidate>
          <div class="mb-3">
            <label for="title" class="form-label">Enter Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Title" name="title" required>
            <div class="valid-feedback">
              Looks Good!
            </div>
          </div>
  
          <div class="mb-3">
            <label for="date" class="form-label">Enter Date:</label>
            <input type="date" class="form-control" id="date" name="date" required>
            <div class="valid-feedback">
              Looks Good!
            </div>
          </div>
  
          <div class="mb-3">
            <label for="content" class="form-label">Content:</label>
            <textarea class="form-control" rows="5" placeholder="Write away..." id="content" name="content" required></textarea>
            <div class="valid-feedback">
              Looks Good!
            </div>
          </div>
  
          <button type="submit" class="btn custom-btn4 w-100">Make Entry</button>
        </form>
      </div>
    </div>
  </div>
  

<%- include('layouts/validated-form') %>





    <!-- <h1>New Entry</h1>
    <form action="" method="POST">
        <label for="title">Enter Title: </label>
        <input type="text" id="title" placeholder="title" name="title" aria-placeholder="title"><br>
    
        <label for="date">Enter Title: </label>
        <input type="date" id="title" placeholder="date" name="date" aria-placeholder="date"><br>
        
        <label for="content">Content: </label><br>
        <textarea rows="5" cols="30" placeholder="write away" id="content" name="content"></textarea><br>
        <button class="btn btn-success">Make Entry</button>
    </form>

    
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->